body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    flex-direction: column; 
    align-items: flex-start; 
    height: auto;
}

h1 {
    flex-grow: 1;
    color: #ff9800;
}

.subtitle {
    text-align: center;
}

.hand-cursor {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hand-add {
    text-align: center;
}
/* 공통 버튼 스타일 */
button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/* 공통 버튼 호버 효과 */
button:hover {
    cursor: pointer;
}

/* 게시물 및 추가 폼 스타일 */
.post,
.addform {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    width: calc(30% - 20px); /* Adjust the width as needed */
    display: inline-block; /* Display posts in a row */
    vertical-align: top; /* Align posts at the top */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 게시물 및 추가 폼 호버 효과 */
.post:hover,
.addform:hover {
    background-color: #ccc;
}

/* 페이지네이션 스타일 */
#page {
    text-align: center;
    margin: 20px 0;
}

/* 공통 스타일 */
a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
}

a:hover {
    background-color: #000;
    color: #fff;
}

img {
    margin-right: 5px;
}

h2:hover {
    color: rgb(251, 140, 37);
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

.title {
    font-size: 24px;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="number"],
input[type="radio"],
input[type="checkbox"],
input[type="date"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container,
.gender-container,
.christianity-container,
.birthdate-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"]
input[type="date"] {
    margin-right: 5px;
}

.info-container {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

#student-info-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 10px;
}

#student-info-container div {
    width: 300%;
    max-width: 400px; /* 정보 컨테이너의 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: auto;
}